
#Tabs {
    display: flex;
    text-align: center;
    padding: 20px;
    border-top: 3px solid purple;
    font-size:small;
    font-weight: bold;
    flex-direction: column;
    align-items: space-evenly;
}

#Tab1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

#Tab2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}


#container {
    display: flex;
    flex: 1 0 0;
    padding: 10px;
    border-top: 1px solid #cecece;
    min-height: 84vh;
    flex-direction: column;
    font-size: small;
}


/* Desktops */
@media only screen and (min-width: 992px) {
  #container {
    flex-direction: row;
    font-size: medium;
  }
  #copyright {
    font-size: small;
  }
  footer {
    font-size: small;
  }
  #Tabs {
    font-size: medium;
    flex-direction: row;
    justify-content: center;
  }
  #Tab1 {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    flex: 1 0 0;
  }
  #Tab2 {
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 10px;
    flex: 1 0 0;
  }

  .profile-pic {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
  }

  .logo {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
  }
}


/* Tablets  */
@media only screen and (max-width: 991px) {
  #container {
    flex-direction: column;
    font-size: medium;
  }
  #Tabs {
    font-size: medium;
  }
  #copyright {
    font-size: small;
  }
  footer {
    font-size: small;
  }

  .profile-pic {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
  }

  .logo {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
  }
}


/* Smartphones */
@media (max-width: 767px) {
  /* Add your CSS rules for smartphones here */
  #container {
    flex-direction: column;
    font-size: small;
  }
  #Tabs {
    font-size: small;
  }
  #copyright {
    font-size: small;
  }
  footer {
    font-size: small;
  }

  .profile-pic {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
  }

  .logo {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
  }
}



#title{
    color: rgba(31, 31, 31, 0.774);
}

#Title-left {
    display: flex;
    justify-content: left;
    padding: 10;
    flex: 0 0 10;
    text-align: center;
    flex-direction: column;
    border-right: 1px solid #cecece;
    padding: 20px;
    line-height: 5px;
}

#About-right {
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: left;
    flex: 1 0 0;  
    padding: 30px;
}

img{
    size: 10px;
}

div.lists {
    display: flex;
    flex-direction: row;
}

#copyright {
    text-align: center;
    border-top: 1px solid #cecece;
    margin-top: auto;
    font-size: smaller;
}
footer {
  font-size: smaller;
}

a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 1;
    color: black;
  }
  
  a:link,
  a:focus {
    color: grey;
  }
  
  a:hover {
    font-weight: bold;
    color: purple;
  }
  
  a:active,
  a:visited {
    font-weight: bold;
  }

  #intro {
    text-align: justify;
    text-justify: inter-word;
  }

  #progress {
    display: flex;
    flex-direction: column;
  }

  .progress-bar{
    width: auto;
  }

  #credentials {
    color: rgb(160, 160, 160);
  }

  #university {
    display: flex;
    line-height: 0%;
  }

  #year {
    text-align: right;
    line-height: 0%;
  }

  #journal {
    display: block;
    font-size:medium;
  }

  #bachelor {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }

  #credentials {
    line-height: 100px;
  }

  #name {
    display: flex;
    font-weight:bold;
        line-height: 0%;
  }

  .article {
    margin: 10px 0;
  }

  #list {
    text-align: justify;
  }

